<script src="jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
    <ion-card>
        <ion-card-content>
            <div class="range-field">
                <input type="range" min="1" max="20" step="0.1"
                       value="5" (input)="changeThickness($event)">
            </div>
        </ion-card-content>
        <ion-card-content>
            <ion-row>
                <ion-col (click)="changeColor('#000000')"><span class="dot-black"></span></ion-col>
                <ion-col (click)="changeColor('#D4FF00')"><span class="dot-yellow"></span></ion-col>
                <ion-col (click)="changeColor('#000FFF')"><span class="dot-blue"></span></ion-col>
                <ion-col (click)="changeColor('#FF0000')"><span class="dot-red"></span></ion-col>
                <ion-col (click)="changeColor('#FF8700')"><span class="dot-orange"></span></ion-col>
            </ion-row>
            <ion-button color="light" (click)="navHome()">Go Home</ion-button>
        </ion-card-content>
    </ion-card>
    <div ion-fixed>
        <p class="double">
            <canvas #draw (touchstart)="start($event)" (touchmove)="move($event)" (touchend)="end($event)"></canvas>
        </p>
    </div>
</ion-content>




