<script src="jquery.min.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{getUsername()}}</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button color="primary" fill="solid" (click)="navGallery()">GALLERY</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu swipeGesture="false" contentId="menu" side="start">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card>
            <ion-card-content>
                <h2 class="center">Size: {{size}}</h2>
                <ion-item>
                    <ion-range value="{{size}}" pin="true" min="1" max="20" step="1"
                               (pointermove)="changeThickness($event)" id="range">
                    </ion-range>
                        <ion-icon slot="start" name="remove-circle" (click)="lessThickness()"></ion-icon>
                        <ion-icon slot="end" name="add-circle" (click)="plusThickness()"></ion-icon>
                </ion-item>
            </ion-card-content>
            <ion-card-content>
                <ion-row>
                    <ion-col (click)="changeColor('#000000')"><span class="dot-black"></span></ion-col>
                    <ion-col (click)="changeColor('#D4FF00')"><span class="dot-yellow"></span></ion-col>
                    <ion-col (click)="changeColor('#000FFF')"><span class="dot-blue"></span></ion-col>
                    <ion-col (click)="changeColor('#FF0000')"><span class="dot-red"></span></ion-col>
                    <ion-col (click)="changeColor('#FF8700')"><span class="dot-orange"></span></ion-col>
                    <ion-col (click)="changeColor('#FFFFFF')"><span class="dot-white"></span></ion-col>
                </ion-row>
                <ion-row>
                    <ion-button color="light" (click)="navHome()">Go Home</ion-button>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ion-menu>
<ion-router-outlet id="menu" main></ion-router-outlet>


<ion-content padding no-bounce>
    <div ion-fixed>
        <canvas #draw (touchstart)="start($event)" (touchmove)="move($event)" (touchend)="end()" width="20" height="20"></canvas>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar text-center>
        <ion-button (click)="clearCanvas(1)">CLEAR</ion-button>
        <ion-button (click)="save()">SAVE</ion-button>
        <ion-button (click)="undo()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
        <ion-button (click)="reUndo()"><ion-icon name="arrow-round-forward"></ion-icon></ion-button>
        <ion-button (click)="takePicture(0)"><ion-icon name="camera"></ion-icon></ion-button>
        <ion-button (click)="takePicture(1)"><ion-icon name="image"></ion-icon></ion-button>
    </ion-toolbar>
</ion-footer>



